.cuerpoproyecto{
    background:url('../img/Fodnooo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

}

.titulos{
    text-align: center;
}

.nombre{
    font-family:serif;
    font-weight: 900;
    font-size: 60px;
    

}
.span{
    color: brown;
}
.dessarrollo{
    font-family:serif;
    font-weight: 100;
    font-size: 35px;
}

.contenedorCuerpo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fotopergil{
    float: left;
    width: 200px;
    margin: 10px;
    border: 10px;
    border-radius: 50%;
    transition: 5s linear;

}

.fotopergil:hover{
    -webkit-transform:scale(1.1); 
-webkit-box-shadow: 10px 10px 14px 2px rgba(199, 180, 180, 0.47);
        box-shadow: 10px 10px 14px 2px rgba(185, 179, 179, 0.47);
}



.textocuerpo{
    background-color: aliceblue;
     

}

.contactos{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

/*.imges{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px; /* Espacio entre las imágenes 
}*/

.image{
    display: grid;
    grid-template-columns: 
    repeat(
        auto-fit,
        minmax(150px,1fr)
    );

}


.git{
    width: 100px; 
    margin: 10px;  
}
.instagram{
    width: 100px;
    margin: 10px; 
}
.correo{
    width: 125px;
    margin: 10; 
}






